.summary-card {
  max-width: 100px;
  text-align: center;
  margin: 5px;
}

.summary-card img {
  max-width: 100%;
  max-height: 100%;
}

.temperatures {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

#high {
  color: red;
}

#low {
  color: grey;
}

.container {
  display: flex;
  justify-content: space-between;
}

.detail {
  display: flex;
  border: 1px solid #000000;
  margin: 5px;
}

/* .detail-temp {
  display: flex;
  justify-content: space-between;
} */
